@CHARSET "utf-8";

.footer{
    font-size: 14px;
    font-family: monospace;
    color:#b0e0e6;
    text-align: center ;
}
hr{
    width: 766px;
}
h2{
    margin-left: 300px;
}
h1{
    text-align: center;
    padding-top: 20px;
}
.display_done{
    width:746px;
    text-align: left;
    margin-left: 320px;
}
.display_never{
    width:746px;
    text-align: left;
    margin-left: 320px;
}
td{
    padding-bottom: 10px;
    padding-right: 10px;
    min-width: :100px;
}
th{
    min-width: :100px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.add{
    width:746px;
    text-align: left;
    margin-left: 320px;
}
.pannel{
    text-align: center;
    padding-left: 350px;
}
.pannel ul{
    list-style: none;
}
.pannel li{
    float:left;
    padding-right: 30px;
    font-size: 25px;
}
.pannel a{
    text-decoration: none;
}
a.visit:link{
    color:black;
}
a.visit:visited{
    color:black;
}
a.visit:hover{
    color:blue;
}

.display_message{
    width:746px;
    text-align: left;
    margin-left: 320px;
}

.display_signed{
    width:746px;
    text-align: left;
    margin-left: 320px;
}

.add_sign{
    width:746px;
    text-align: left;
    margin-left: 320px;
}